/build/
target/
.idea/
*.iml
.classpath
.project
.settings/
.DS_Store
/*.sh
!build.sh
*~
*/.mvn/
packages/
/branches
/.svn
*/target/
.vscode/
*/src/main/webapp/package-lock.json
*/src/main/webapp/dist/
*/src/main/webapp/node_modules/
*/src/main/webapp/src/config/env.js
